<div class="weather-details-container text-center">
  <div class="weather-city">
    {{ weatherHero.city }}
  </div>
  <div class="weather-icon">
    <i class="wi wi-yahoo-{{ weatherHero.code }} text-primary"></i>
  </div>
  <div class="weather-details">
    <span class="weather-detail-day text-muted">{{ weatherHero.day }}</span>
    <br>
    <span class="weather-detail-low text-info">{{ weatherHero.low }}&#176;</span>&#32;
    <span class="weather-detail-high text-danger">{{ weatherHero.high }}&#176;</span>
  </div>
</div>